


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */
.nav-title{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}

/* shared content */
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    
}

.title{
    align-items: center;
}

.banner{
   text-align: center;
}
.description{
    font-weight: bold;
    font-size: 65px;
   color: #252432;
   text-align: center;
}
header{
    height: 698px;
    width: 100;
    background-image: url('Hero-bg.png');
}

/* action section */
 .action{
    display: flex;
    justify-content: space-between;
    margin: 100px 141px 0 159px;
    width: 1140px;
    height: 328px;
    align-items: center; 
    margin-left: 141px;
 }


.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-size: 24px;
}
.action-details{
    width: 517px;
    height: 203px;
    color: #252432;
    margin: 23px;
    padding: 62.5px;
    
    
}
.action-picture{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}

/* productive section */
.productive{
    width: 1140px;
    height: 306px;
    background-color:rgba(78, 71, 255, 0.1);
    padding: 80px 50px;
    align-items: center0;
    justify-content: center;
    margin: 141px 159px;
    justify-items: center;
}
.productive-heading{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    width: 856px;
    height: 45px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.productive-info{
    display: flex;
    width: 856px;
    height: 121px;
    gap: 158px;
    margin-top: 0;
}
.productive-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    width: 162px;
    height: 97px;
    margin-bottom: 0;
}
.number-dtls{
    font-size: 20px;
    color: #000000 (50%);
    width: 120px;
    height: 24px;
    
}
.numbers{
    width: 180px;
    height: 121px;
    padding: 20px;
    
}

/* review section */
.reviews{
    width: 1140px;
    height: 342px;
    gap: 50px;
   margin-left: 200px;
    justify-items: center;
    
}
.review-detals{
    color: rgba(30, 30, 30, 1);
}

.user-review{
    display: flex;
    align-items: center;
}
.img-style{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.section-description{
    gap: 0;
    width: 366px;
    height: 243px;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px 24px;
}
.all-section{
    display: flex;
    width: 1140px;
    height: 243px;
    gap: 20px;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

/* visual section */
.visual{
    background-color: #FFFFFF;
    margin: 0 200px;
    justify-content: center;
    width: 1140px;
    height: 700px;
    padding: 150px 71px;
    margin: 200px 150px 0 150px;
    text-align: center;
}
.visual-img{
    width: 840px;
    height: 360px;
    border-radius: 48px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.visual-title{
    font-weight: bold;
    font-size: 50px;
    width: 516px;
    height: 60px;
    color: #000000;
    margin-left: 300px;

}
.visual-sub{
    width: 487px;
    height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 300px;
    margin-top: 0;
}
.visual-details{
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}