


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */
.nav-title{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}

/* shared content */
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    
}

.title{
    align-items: center;
}

.banner{
   text-align: center;
}
.description{
    font-weight: bold;
    font-size: 65px;
   color: #252432;
   text-align: center;
}
header{
    height: 698px;
    width: 1440px;
    background-image: url('Hero-bg.png');
}

/* action section */
 .action{
    display: flex;
    justify-content: space-between;
    margin: 100px 141px 0 159px;
    width: 1140px;
    height: 328px;
    align-items: center; 
    margin-left: 141px;
 }


.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-size: 24px;
}
.action-details{
    width: 517px;
    height: 203px;
    color: #252432;
    margin: 23px;
    padding: 62.5px;
    
    
}
.action-picture{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}