


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */
.nav-title{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}

/* shared content */
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    
}

.title{
    align-items: center;
}

.banner{
   text-align: center;
}
.description{
    font-weight: bold;
    font-size: 65px;
   color: #252432;
   text-align: center;
}
header{
    height: 698px;
    
    background-image: url('Hero-bg.png');
}